
*.tdf
*.cdb
*.kpt
*.hdb
*.qmsg
*.rdb
*.bpm
*.idb
*.logdb
*.hsd
*.db_info
*.hier_info
*.hif
*.html
*.txt
*.flock
*.sci
*.tdb
*.ddb
*.tmw_info
*.ammdb
*.dfp
*.json
*.sig
*.rcfdb
*.dpi
*.hb_info
*.bak
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.sft
*.vo
*.xrf
~$*.*
lane-Detection-improved_lumi/FPGA-Design/incremental_db/README
