
*.kpt
*.tdf
*.cdb
*.hdb
*.qmsg
*.rdb
*.idb
*.hsd
*.logdb
*.bpm
*.db_info
*.html
*.hier_info
*.txt
*.hif
*.ammdb
*.sci
*.ddb
*.tmw_info
*.tdb
*.json
*.dfp
*.rcfdb
*.sig
*.dpi
*.hb_info
*.bak
Lane-Detection-improved_lumi/FPGA-Design/incremental_db/README
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.sft
*.vo
*.xrf
*.flock
Lane-Detection_sleep_mode/FPGA-Design/incremental_db/README
